<!doctype html>
	<html>	
		<head>
			<title>Blackjack</title>
		</head>
	
		<body>
			<h1>Your Turn</h1>
	
	<h2>Dealer</h2>
	
		{{#dealersHoleCard}}
			{{ displayValue }} {{ suit }}
		{{/dealersHoleCard}}
		
		Hole Card
		
	<hr>
	
	<h3>Player One</h3>
	
			{{#playersHand}}
				{{ displayValue }} {{ suit }}
			{{/playersHand}}
	
		<div>
			<form method=post action=hit>
				<button>Hit</button>
			</form>
		</div>
	
		<div>
			<form method=post action=stand>
				<button>Stand</button>
			</form>
		</div>		
	
				
		</body>
	
	</html>